/* Dashboard.module.css */

/* Base styles */
.container {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #4A5568; /* Softer, modern gray */
  padding: 32px;
  max-width: 1200px;
  margin: 40px auto;
  background-color: #FFFFFF; /* Pure white */
  border-radius: 12px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.title, .tableTitle {
  text-align: center;
  font-weight: 600; /* Semi-bold for .tableTitle, Bold for .title */
}

.title {
  color: #2D3748; /* Darker for contrast */
  margin-bottom: 60px;
  font-size: 32px;
  font-weight: 700; /* Bold */
}

.wordCloudSection, .tablesSection {
  margin-bottom: 48px;
}

.wordCloudContainer {
  width: 800px; /* Fixed width */
  height: 400px; /* Fixed height */
  /* Additional styles to ensure layout stability */
  overflow: hidden; /* Optionally hide overflow */
  /*make it center*/
  margin: auto;
}


.wordCloudContainer, .tableContainer {
  background-color: #FFFFFF;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

.wordCloudContainer:hover, .tableContainer:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.wordCloudContainer svg, .tableContainer table {
  display: block;
  margin: auto;
  max-width: 100%;
  table-layout: auto; /* Ensures table width is based on content */
  width: auto; /* Prevents the table from stretching full width */
}

.tableTitle {
  color: #333; /* Simple color */
  margin-bottom: 20px;
  font-size: 20px;
}

.tableContainer {
  background-color: #FFFFFF;
  padding: 24px;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: none;
  transition: background-color 0.3s ease;
}

.tableContainer:hover {
  background-color: #F7F7F7;
}

.tableContainer th, .tableContainer td {
  padding: 16px; /* Maintaining consistent right padding */
  text-align: left;
  border-bottom: 1px solid #EAEAEA; /* Adjusted thickness for visual appeal */
}

.tableContainer th {
  background-color: transparent;
  color: #555;
  font-weight: 400; /* Normal weight for lighter visual feel */
}

.tableContainer tr:hover {
  background-color: #F7F7F7;
}

.tableContainer tr:last-child td, .tableContainer th:last-child, .tableContainer td:last-child {
  border-bottom: none;
  padding-right: 24px;
}

.tablesSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
}

/* Media Queries */
@media (max-width: 1024px) {
  .tablesSection {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .container, .tableContainer {
    padding: 16px;
  }

  .title {
    font-size: 24px;
  }

  .tableContainer th, .tableContainer td {
    padding: 12px 16px;
  }
}

.paginationButton {
  background-color: #4A90E2; /* Modern blue */
  color: #FFFFFF;
  border: 2px solid #4A90E2; /* Add border for a cleaner look */
  border-radius: 6px;
  padding: 7px 20px;
  cursor: pointer;
  margin: 0 5px;
  transition: all 0.3s ease; /* Smooth transition for all properties */
  font-weight: bold; /* Make text bold for emphasis */
}

.paginationButton:hover {
  background-color: #357EC7; /* Darker shade on hover */
  border-color: #357EC7; /* Adjust border color on hover */
}

.disabledButton {
  background-color: #E4E4E4; /* Light gray */
  color: #9B9B9B; /* Dimmed text color */
  cursor: not-allowed;
  border: 2px solid #E4E4E4; /* Add border for consistency */
}

.pageCount {
  margin: 0 10px;
}
